*{
    padding: 0px;
    margin: 0px;
}

html{
    background-image: url("/static/images/backgroundhome.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.Allform{
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 10rem;
}
.FormContent{
    text-align: center;
    color: aliceblue;
    align-content: center;
    height: 12rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(/static/images/abstractlogin.jpg);
    border-radius: 10px;

}
.savebtn{
    margin-top:1rem;
    width: 10rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: transparent;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    color: aliceblue;
}
.form-control{
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    color: aliceblue;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.form-control:active{
    border-top: none;
    border-left: none;
    border-right: none;

}
#logintext{
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 1rem;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.AnQuestion{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);

}
