{% extends "base.html" %}
{% load static %}
{% block navbar %}
<head>
    <title>Epsilon About</title>
    <link rel="stylesheet" href="{% static "css/allstyle/about.css" %}">
</head>
<body>
    

<div>
    <ul>
        <li>

        </li>
        <li>

        </li>
        <li>

        </li>
        <li>

        </li>
    </ul>
</div>
<div>
    <article>
        <h2>Who am i?</h2>
        <h4>
           im just a small team composed of only one person.. <br>
           trying to make a really neat and cozy website for everyone's enjoyment..
           oh and this is NOT finished, i have not finished the about page
        </h4>
        <hr>
        <p>


        </p>
    </article>
</div>
</body>
{% endblock navbar %}