{% extends "base.html" %}
{% load static %}
{% block navbar %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content"width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "css/allstyle/homestyle.css" %}">
        <title>Welcome To Epsilon!</title>
       
    </head>  

        <body>
        
            

           <div class='allstuff'>

            <div class='Description'>
                {% comment %} <h1 id='EpsilonAbButton'>Epsilon</h1> {% endcomment %}
                <h2>Welcome!</h2>
                <p>This is a test for a webchat app.. have a good time checking it out! <br>
                    kinda sucks at the moment... but it'll get better!
                 </p>
            </div>
            
            
            <a href="{% url "Lobby" %}"><button class='buttons' id='ExploreButton'>Start Chatting!</button></a> 
            {% if auuser == False %}
            <a href="{% url "RegisterView" %}"><button class='buttons' id='LoginButton'>Join up!</button></a>
            {% endif %}

           </div>

          <div class='newstab'>
            
            <article class='inarticle'>
                <h2>Cool limited edition Plush</h2>
                <p>Come get plushies from your favorite characters</p>
                {% comment %} <img src="{% static "images/SplashPlushies.png" %}" alt=""> {% endcomment %}
                <br>
                <a href="">See more</a> <br>
            </article>

            <article class='inarticle'>
                <h2>Revamped Settings!</h2>
                <p>We Changed the settings tab to be more user-friendly</p>
                <br>
                <a href="">See more</a> <br>
            </article>

             <article class='inarticle'>
             <h2>Halloween Event</h2>
             <p>Buy new emotes to celebrate halloween!</p>
             <br>
             <a href="">See more</a> <br>
            </article>
          
        </div>
       
        </body>
        
    
</html>
{% endblock navbar %}