{% extends "base.html" %}
{% load static %}
{% block navbar %}
<head>
    <title>Epsilon Settings</title>
    <link rel="stylesheet" href="{% static "users/Usermanagementview.css" %}">
</head>
<body>
    <hr>
    <div>
        <div>
            poopen farten
            <button>test</button>
            <article>more testing about the testing ongoing test</article>
            <button>testing to see ya know xd xd</button>
            <br>
            <button>lol</button>
        </div>
    </div>
</body>

{% endblock navbar %}