:root{
    --div-background-color:  rgb(185, 185, 185);
    --scroll-bar-color: grey;
    
}

.darkmode{
    --div-background-color: rgb(20, 20, 39);
    --scroll-bar-color: rgb(48, 48, 96);
}



.div-delete-wrapper{
    background-color: var(--div-background-color);
    border-radius: 1rem;
    width: 50%;
    height: 50%;
    margin: auto;
    margin-top: 11rem;
    margin-bottom: 1rem;
    text-align: center;
    overflow: auto;
    scrollbar-color: var(--scroll-bar-color) var(--div-background-color);
}

.title-deletion{
    margin-top: 1rem;
}

.delete-button-control{
    background-color: red;
    border: none;
}